# Node dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.development
.env.test
.env.production

# IDE/editor settings
.vscode/
.idea/

# Build output
dist/
build/

# Testing
coverage/
jest-test-results.json

# Misc
*.tgz
*.bak
*.tmp

# Optional: PM2 process files
pids
*.pid
*.seed
*.pid.lock

# _python_ specific
dataRetrival/__pycache__/

# Jupyter test
test.ipynb

# test folder
test/