.portfolios{
    box-sizing: border-box;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    h3 {
        font-weight: lighter;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        h3 {
            margin: 10px;

            &:hover {
                cursor: pointer;
                color: #d0d0d0;
            }
        }
    }

    .portfoliosBody {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
        .part1{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .button {
                border-radius: 5px;
                padding: 4px;
                border: #777777 1px solid;
                cursor: pointer;
                margin-top: 10px;
                margin-bottom: 20px;
                &:hover {
                    background-color: #3b3b3b;
                    color: #fff;
                }
            }
        }
        .part2 {
            width: 100%;
            border-radius: 5px;
            padding: 4px;
            border: #777777 1px solid;
            height: 30vh;

            .diagram {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                gap: 10px;
            }
        }

        .part3{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .portTitle{
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .leftTitle{
                    display: flex;
                    .myPortBtn{
                        border-radius: 5px;
                        padding: 4px;
                        border: #777777 1px solid;
                        cursor: pointer;
                        &:hover {
                            background-color: #00224b;
                            color: #fff;
                        }
                        margin-bottom: 5px;
                    }
                }
            }
            .portBody{
                border: #777777 1px solid;
                padding: 5px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .infopart{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .namepart{
                        width: 15%;
                    }
                    .infopart{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                    }
                        width: 60%;
                    }


            }
        }
    }
}